# Erste grub.cfg der Bootplatte, nur für den ersten Start beim Bauen. pnpm vm:build ersetzt sie in der VM durch die
# von update-grub erzeugte.
serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial
set timeout=0
menuentry 'Debian GNU/Linux' {
	linux /vmlinuz-@KERNEL@ root=host9p ro console=ttyS0 mitigations=off init_on_free=on quiet loglevel=3
	initrd /initrd.img-@KERNEL@
}
